/* PHASE 7: Online */
.online {
  display: block;
  position: absolute;
  background: #0c0;
  bottom: 180px;
  left: -10px;
  transform: rotate(-45deg) translateX(-25%);
  color: #fff;
  text-transform: uppercase;
  padding: 5px 30px;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0 1px 0 0 #070;
  font-size: 12px;
}

.profile-picture {
  overflow: hidden;
  /* position: relative; */
}
